absl-py==0.2.0
alabaster==0.7.11
altgraph==0.16.1
astor==0.6.2
Babel==2.6.0
bleach==1.5.0
certifi==2018.4.16
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
decorator==4.2.1
docutils==0.14
entrypoints==0.2.3
future==0.16.0
gast==0.2.0
grpcio==1.11.0
html5lib==0.9999999
idna==2.7
imagesize==1.0.0
ipykernel==4.8.2
ipython==5.0.0
ipython-genutils==0.2.0
ipywidgets==7.2.0
java-random==1.0
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
macholib==1.11
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.2.2
mistune==0.8.3
mpmath==1.0.0
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.7.4
numpy==1.14.2
packaging==17.1
pandas==0.22.0
pandocfilters==1.4.2
pefile==2018.8.8
pickleshare==0.7.4
Pillow==5.2.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
Pygments==2.2.0
PyInstaller==3.4
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.3
pyzmq==17.0.0
qtconsole==4.3.1
requests==2.21.0
scikit-learn==0.19.1
scipy==1.0.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.5
sphinx-rtd-theme==0.4.0
sphinxcontrib-websupport==1.1.0
sympy==1.1.1
tensorboard==1.7.0
tensorflow==1.7.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
tornado==5.0.1
traitlets==4.3.2
ttkthemes==2.1.0
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.2.0
win-unicode-console==0.5
